---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import { urls, addresses } from '../components/Constants';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | AstroFrog" description="About AstroFrog Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Enjoy the tale of how froggies with the right stuff became moon walking AF."
			>
				<img
					width="1553"
					height="873"
					src="/assets/group.webp"
					alt="AstroFrog at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Address</h2>
				<div class="content">
					<p><a href={urls.explorer}>{addresses.token}</a></p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Telemetry</h2>
				<div class="content">
					<p><a href={urls.birdeye}>Birdeye chart</a></p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Launch</h2>
				<div class="content">
					<p>At launch, we will initiate an airdrop for all AstroFrog telegram community members and create the official <a href={urls.raydiumlp}>Raydium</a> liquidity pool so that the token can be purchasable via <a href={urls.raydiumbuy}>Raydium</a> or an aggegator like <a href={urls.jupiter}>Jupiter</a> (on Jupiter up to 24 hours after launch). Let us know your address in the telegram group! <i>Please note until then, all of the Raydium and Jupiter links are purely placeholders!</i></p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Once upon a cosmic time, there lived an astronaut frog named Luna Hopper, a.k.a. "Astro Frog," known for her wit as sharp as her leap. As the chief pilot of the Apollo Ribbit XI mission, she was set to make history, or rather "hiss-tory" as she liked to croak. The mission was simple: launch to the moon, plant the flag for Frogtopia, and hop back without croaking. Luna, along with her trusty companions Neil Frogstrong and Buzz Al-slurpn, blasted off atop a firework that suspiciously resembled a Saturn V rocket, counting on their "fly" computers which were prone to catching bugs mid-flight. They knew they were good hands with their general, Rippit Signlar, calling the shots from ground control in Houston.
					</p>
					<br />
					<p>
						In the depths of space, as Luna's capsule orbited the moon, she peered out the window and mused, "One small step for frog, one giant leap for frogkind. And maybe a hop or two." The lunar module, nicknamed the "Lilypad Lander," detached, leaving Michael "Croakins" orbiting alone, bemoaning his lack of screen time in this tale. The descent was bumpy, and the computer squawked alarms that could make a tadpole's tail curl. With cool heads and steady webbed hands, they landed with a splashdown on the dusty moon surface, declaring, "That's one small splash for frogs, one quantum leap for blockchain!"
					</p>
					<br />
					<p>
						On the moon, Luna bounced thrice as high as usual and planted a flag with a meme-worthy smirk, boasting a logo that would make any crypto enthusiast's heart jump. It was a symbol of hope, humor, and high stakes – much like the volatile markets they knew back home. As they hopped back into the Lilypad Lander, Frogstrong quipped, "Well, that was un-frog-gettable!" and Al-slurpn couldn't help but ribbit in agreement. The crypto-coin community on Earth watched in awe, as the Apollo Ribbit XI team returned, their pockets not filled with moon rocks, but with “mooned” Dogecoin. And so, Astro Frog's tale became a legend, not just in space, but in the ever-expanding universe of crypto memes, where her smirk still inspires the boldest of traders to reach for the moon.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Motivation</h2>
				<div class="content">
					<p>To serve the frogs-reaching-for-the-moon org via sol.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Hopping up the charts</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
